body
{
	background-image: url('../imgs/background.jpg');
}


.title h1
{
	padding-top: 54.91px !important;
	padding-bottom: 54.91px !important;
	font-size: 50px;
	font-family: 'Righteous', serif;
	text-shadow: 0.03em 0.03em 0 hsla(230,40%,50%,1);
	color:white;
	
}

.userinfo
{
	padding-top: 30px !important;
}





.content h3
{   font-size: 40px;
	font-family: 'Righteous', serif;
	text-shadow: 0.03em 0.03em 0 hsla(230,40%,50%,1);
	color:white;
}

.img-responsive
{
	margin: 0 auto;
}