{% extends "base.html" %}

{% block content %}
<head>
  <title>Login</title>
</head>

{% if form.errors %}
<p style="text-align:center;font-weight:bolder;">Your username and password didn't match. Please try again.</p>
{% endif %}

{% if not request.user.is_authenticated %}
<div class="row userinfo">
	<div class="col-sm-4"></div>
	<div class="form col-sm-6 align-items-center">
		<form method="post">
			{% csrf_token %}
			<div class="col-sm-12">
			  <div class="col-sm-2">{{ form.username.label_tag }}</div>
			  <div class="col-sm-4">{{ form.username }}</div>
			</div>
			<div class="col-sm-12"></div>
			<div class="col-sm-12">
			  <div class="col-sm-2">{{ form.password.label_tag }}</div>
			  <div class="col-sm-4">{{ form.password }}</div>
			</div>
			<div class="col-sm-12"></div>
			<div class="col-sm-12">			
			  <div class="col-sm-2"></div>
			  <div class="col-sm-4"><input type="submit" id="LoginButton" value="Login" class="btn btn-primary" /></div>
			  <input type="hidden" name="next" value="{{ next }}" />
			</div>
			<div class="col-sm-12"></div>
			<div class="col-sm-12">				
				<div class="col-sm-2"></div>
				{# Assumes you setup the password_reset view in your URLconf #}
				<div class="col-sm-4"><a href="{% url 'password_reset' %}">Forgot password?</a></div>
			</div>
		</form>
	</div>
	<div class="col-sm-4"></div>
</div>
{% else %}
<!--redirect to another page if user is alreadly logged in-->
<meta http-equiv="refresh" content="0; url={% url 'home' %}">

{% endif %}

{% endblock %}