{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
{% if not request.user.is_authenticated %}
<div style="text-align:center;">
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
  <div class="col-sm-12">				
      <div class="col-sm-2"></div>
      {# Assumes you setup the password_reset view in your URLconf #}
      <div class="col-sm-4"><a href="{% url 'password_reset' %}">Forgot password?</a></div>
    </div>
<div>
{% else %}
<!--redirect to another page if user is alreadly logged in-->
<meta http-equiv="refresh" content="0; url={% url 'home' %}">

{% endif %}

{% endblock %}