body {
    background: url('../images/background.jpg');
	background-repeat: no-repeat;
	background-size: auto;
	height: 100%;
    width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

.container {
	width: 98%;
	height: 98%;
}

.comingsoonlogo img{
    max-height: 20%;
    max-width: 20%;
	min-height: 20%;
    min-width: 20%;
	height:20%;
	width:20%;
	text-shadow: 0 0 10px black, 1px 1px 10px black, 2px 2px 10px black, -1px -1px 10px black, -2px -2px 10px black;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear 2;
  -moz-animation: rotating 2s linear 2;
  -ms-animation: rotating 2s linear 2;
  -o-animation: rotating 2s linear 2;
  animation: rotating 2s linear 2;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -ms-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
}

.title h1
{
	padding-top: 54.91px !important;
	padding-bottom: 54.91px !important;
	font-size: 50px;
	font-family: 'Righteous', serif;
	text-shadow: 0.03em 0.03em 0 hsla(230,40%,50%,1);
	color:white;
	
}

.userinfo
{
	padding-top: 30px !important;
}

.content h3
{   font-size: 40px;
	font-family: 'Righteous', serif;
	text-shadow: 0.03em 0.03em 0 hsla(230,40%,50%,1);
	color:white;
}

.img-responsive
{
	margin: 0 auto;
}

@import url("https://fonts.googleapis.com/css?family=Varela+Round");
		*,
		*:before,
		*:after {
		  padding: 0;
		  margin: 0;
		  letter-spacing: 1.1px;
		}

		body,
		html {
		  font-family: "Varela Round", sans-serif;
		}

		.menu {
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  margin: 0 auto;
		  position:absolute;
		  top:5%;
		  right:5%;
		  list-style: none;
		}

		.menu li {
		  width: 125px;
		  height: 50px;
		  border-radius: 5px;
		  transition: background-position-x 0.9s linear;
		  text-align: center;
		}
		.menu li a {
		  font-size: 22px;
		  color: #000;
		  text-decoration: none;
		  transition: all 0.45s;
		}
		.menu li:hover {
		  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
		  color: #fff;
		  -webkit-animation: line 1s;
				  animation: line 1s;
		}
		.menu li:hover a {
		  color: #fff;
		}
		.menu li:not(:last-child) {
		  margin-right: 30px;
		}

		@-webkit-keyframes line {
		  0% {
			background-position-x: 390px;
		  }
		}

		@keyframes line {
		  0% {
			background-position-x: 390px;
		  }
		}