{% extends "admin/base.html" %}
{% load staticfiles %}



        
        {% load i18n %}
        {% block title %}{{ title }} | {% trans 'Couch Potatoes Admin' %}
{% endblock%}
        
    
{% block extrastyle %}
<style type="text/css">

.login {
    background: url("{% static 'images/background.jpg'' %}")!important; 
}
    


    #header {
        background-color: #1b53b9;
        border-bottom: solid 3px #ea1d3a00;
    }


    #branding h1 {
        color: #fff;
    }

    #content, #content-main {
        color: #825890
    }

    .module h2,
    .module caption,
    .inline-group h2 {
        
        color: #333940;
    }

    a.section:link,
    a.section:visited {
        color: #666666;
    }

    .button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #1b53b9;
}
</style>
{% endblock %}
{% block branding %}
<h1 id="site-name">{% trans 'Couch Potatoes Admin' %}</h1>
{% endblock %} 
{% block nav-global %}
{% endblock %}

