{% load staticfiles %}
{% load tubes %}
{% autoescape on %}
<!DOCTYPE html>
<html>
	<head>
		<title>Tubes</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/game.css' %}" />
		<style type="text/css">
			.rectangles {
				max-width: 50%;
			}
			.rectangles .rectangle {
				display: inline-block;
				border: 1px solid yellow;
				background-color: yellow;
				position: relative;
				margin: -2px;
			}

			.rectangles .rectangle .circle {
			  background-color: white;
			  border-radius: 100%;
			  position: absolute;
			  margin: 2.5px;
			}
		</style>
		
	</head>
	<body>
		<div class="comingsoonlogo">
			<a href=""><img src="{% static 'images/CouchPotatoesLogo.png' %}" /></a>
		</div>
		<script type="text/javascript">
			var moves = 0;
			var circleList = [];
			var points = [];
			var colors = ["red","blue","green","brown","purple"];
			function loadPoints(){
				/*var str = document.getElementById("points").innerHTML;*/
				var values = [1,4,5,8,9,12,13,16];
				var count=0;
				for(var i=0;i<values.length;i++){
					points.push(parseInt(values[i]));
					if(i%2==0){
						document.getElementById(values[i]).style.backgroundColor = colors[count];
					}
					else{
						document.getElementById(values[i]).style.backgroundColor = colors[count++];
					}
				}
			}
			
			function moveIncrement(){
				moves++;
			}
			
			var circle = 0;
			function tubes(object){
				if(document.getElementById(object.id).style.backgroundColor != "white"){
					circle = object.id;
					moveIncrement();
				}
				else{
					tubesExit(object);
				}
			}
			
			function tubesExit(object){
				if(points.indexOf(parseInt(object.id)) != -1 && document.getElementById(object.id).style.backgroundColor == document.getElementById(circle).style.backgroundColor){
					circle = 0;
					circleList = [];
				}
				else{
					for(var i=0;i<circleList.length;i++){
						document.getElementById(circleList[i]).style.backgroundColor = "white";
					}
					circle = 0;
					circleList = [];
				}				
			}
			
			function mouseEnteringCircle(object){
				if(circle != 0 && document.getElementById(object.id).style.backgroundColor == "white"){					
					circleList.push(object.id);
					document.getElementById(object.id).style.backgroundColor = document.getElementById(circle).style.backgroundColor;
				}				
				else if(circle!=0 && document.getElementById(object.id).style.backgroundColor != "white"){
					tubesExit(object);
				}
			}
		</script>
		{% with squares=4%}
		
		{% with "1 4 5 8 9 12 13 16" as points %}
		<!--{%index = 0}-->
		{% with 'red blue green brown purple' as colors %}
		<!--
		%for row in rows:
			%if(index==0):
				%squares = row
			%else:
				%points.append(row)
			%end
			%index = index + 1
		%end
		-->
		<div id="points" style="display:none">{{points.split}}</div>
		<div class="rectangles">
		{% with '1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16' as list %}
		{% for index1 in list.split %}
				{% with width=100 %}
				<div class="rectangle" style="width: 105px; height: 105px;" id="rectangle{{index1}}">
					<div class="circle" style="width: {{width}}px; height: {{width}}px; background-color:white" id="{{index1}}" onclick="return tubes(this)" onmousedown="return tubes(this)" onmouseup="return tubesExit(this)" onmouseenter="return mouseEnteringCircle(this)"></div>					
				</div>				
				{% endwith %}
			{% if index1|divisibleby:squares %}
				<br/>
			{% endif %}
		{% endfor %}
		{% endwith %}
		</div>
		{% endwith %}
		{% endwith %}
		{% endwith %}
		<script type="text/javascript">
			loadPoints()
		</script>
	</body>
</html>
{% endautoescape %}