<!-- tubes/templates/index.html -->
{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
	<title>Tubes</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/game.css' %}" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2 rotating">
				<a href="../"><img src="{% static 'images/CouchPotatoesLogo.png' %}" class="img-responsive center-block" alt="ksu"></a>
			</div>			
			<div class="col-sm-6 title">
				<span align="center">					
					<h1>TUBES</h1>
				</span>
			</div>
			<div class="col-sm-4">
				<nav>
					<ul class="menu">
						<li>
							<a href="gamerule/">Rules</a>
						</li>
						<li>
							{% if not request.user.is_authenticated %}
								<a href="register/">Sign Up</a>
							{% else %}
								<a href="home">Levels</a>
							{% endif %}
						</li>
						<li>
							{% if request.user.is_authenticated %}
							<a href="logout">Sign Out</a>
							{% else %}
							<a href="login/">Sign In</a>
							{% endif %}
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col-sm-1">
			</div>
			<div class="col-sm-10">
				<h3><b>About Us:</b></h3><br/>
				<span>Couch Potatoes team is committed to develop products that users of all age and gender can have the best experience in terms of fun, friendly environment and supporting growth. To achieve these goals, we strive to sustainable business by considering our stakeholders’ needs and develop our products and services within the three aspects: social, economic and environmental impacts, which are our ways of ensuring that our business will continue to grow side-by-side with our people, making benefits to stakeholders and being environmental friendly at the same time.</span><br/><br/>
				<h3><b>Mission and Vision Statement:</b></h3><br/>
				<span>As a young and dynamic company, we strive to develop fun and highly addictive online games, with promising appearance and user-friendly interface that are easily accessible to audiences at all age.</span><br/><br/>
				<h3><b>Our Team:</b></h3><br/>
				<span>Paweena Manotipya – President</span><br/>
				<span>Abhinay Raj Nedunoori – Project Manager</span><br/>
				<span>Heena Dave – Software Developer</span><br/>
				<span>Davneet Kaur – Software Developer</span><br/>
				<span>Siddhi Shah – Software Quality Assurance Analyst</span><br/>
				<span>Jenny Jiahui Wu – Requirement Analyst</span><br/>
				<span>Rohit Boyina - Requirement Analyst</span><br/>
				<span>Venkata SaiKiran Kuchipudi - Software Quality Assurance Analyst</span><br/>
				<span>Sravan Kumar Radha – Marketing Manager</span><br/>
				<h3><b>Contact Us:</b> couchpotatoes.kentstate@gmail.com</h3><br/><br/><br/>
			</div>
			<div class="col-sm-1">
			</div>
		</div>
	</div>	
</body>

</html>