<!-- tubes/templates/index.html -->
{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
	<title>Tubes</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/game.css' %}" />
	<style type="text/css">
		h1 {
		  color: white;
		  font-family: 'Righteous', serif;
		  font-size: 80px; 
		  text-shadow: .03em .03em 0 hsla(230,40%,50%,1);
		}
	</style>
</head>

<body>
	<div class="comingsoonlogo">
		<a href=""><img class="rotating" src="{% static 'images/CouchPotatoesLogo.png' %}" /></a>
	</div>
	<div class="container">
		<div>
			<span align="center">
				<h1>TUBES</h1>
			</span>
		</div>
		<nav>
			<ul class="menu">
				<li>
					<a href="gamerule/">Rules</a>
				</li>
				<li>
					<a href="register/">Sign Up</a>
				</li>
				<li>
					<a href="accounts/login">Sign In</a>
				</li>
			</ul>
		</nav>
	</div>
</body>

</html>